<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		<title>Exemple</title>
	</head>
	
	<body>		
		<section>
			<h1>Liste des articles disponibles (Client Thymeleaf)</h1>
		</section>
		<section>
			<div>
			   <table border="1" width="80%">
			     <tr>
			         <td>Id</td>
			         <td>libellé</td>
			         <td>Prix</td>
			     </tr>
			     
			     <tr th:each="article:${Articles}">
			       <td th:text="${article.id}">id</td>
			       <td th:text="${article.libelle}">libellé</td>
			       <td th:text="${article.prix}">prix</td>
			     </tr>
			     
			   </table>
			</div>
		</section>
	</body>
</html>